@inherits LayoutComponentBase
@namespace ArenaSync.Web.Components.Layout
@using ArenaSync.Web.Components.Layout
@using Microsoft.AspNetCore.Components.Authorization

<div class="page">
    <aside class="sidebar">
        <NavMenu />
    </aside>

    <main>
        <div class="top-row auth">
            <div class="top-row-brand">
                <img src="images/arenasync-mark.png" alt="ArenaSync" class="top-row-logo" />
                <span class="top-row-brand-name">ArenaSync</span>
            </div>
            <div class="top-row-actions">
                <AuthorizeView>
                    <Authorized>
                        <span class="user-info">
                   